<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Tasks</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/view_completed_tasks.js"></script>
</head>
<body class="tasks-page">
    <button class="menu-btn" onclick="toggleSidebar()">☰</button>
    <div id="sidebar" class="sidebar">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'teacher_dashboard' %}">Teacher dashboard</a>
        <a href="{% url 'view_available_tasks' %}">View Available Tasks</a>
        <a href="{% url 'view_details' %}">View Tasks Details</a>
        <a href="{% url 'search_tasks' %}">Search Tasks by Priority</a>
        <a href="{% url 'mark_task_completed' %}">Mark Task as Completed</a>
        <a href="{% url 'logout' %}">Log out</a>
    </div>
    {% if user.is_authenticated %}
        <h1>Completed Tasks</h1>
        <ul class="completed-task-list">
            {% for task in tasks %}
                <li>{{ task.name }} - Completed on: {{ task.completed_date|date:"F j, Y" }}</li>
            {% empty %}
                <li>No Completed Tasks!</li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>You should Login or Sign-Up First!!</h1>
        <button class="mark-btn">
            <a href="{% url 'login' %}">Login</a>
        </button>
        <button class="mark-btn">
            <a href="{% url 'signup' %}"> Sign-Up</a>
        </button>
    {% endif %}   
</body>
</html>